.env
.env.*
*.env

.vscode/
.zed/
.venv/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo  

*firebase-adminsdk*.json

/media/     
staticfiles/
/static/  

firebase_b64.txt
