[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
celery = "*"
flower = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
google-api-python-client = "*"
drf-spectacular = "*"
django-cors-headers = "*"
djangorestframework = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-decouple = "*"
django-filter = "*"
django = "*"
redis = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.13"
